.App {
    text-align: left;
    overflow-x: hidden;
}

.App-header {
    background-color: #222;
    height: 50px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: row;
}

.App-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.App-title a{
    text-decoration: none;
    color: #ffffff;
    outline: none;
}

.App-title a:hover {
  color: #840f09
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    background: #606061;
    color: #ffffff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    outline: none;
}

.close:hover { background: #b2b2b3; }

.modalDialog > div > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalDialog > div > form input {
    margin: 10px;
    padding: 5px 15px;
}

.left {
    display: flex;
    margin-left: auto;
}

.App-rates_list {
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.rates_list_item {
    display: block;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 3px;
    margin: 10px;
}

.rates_list_item p {
    font-size: 0.9em;
    line-height: 21px;
    margin: 0;
}
